div.tres {
    width:800px;
    height:50px;
    border: 2px solid; /* As 4 bordas sólidas com 25px de espessura */
    border-color: #f00 #0f0 #00f #fc0; /* cores: topo, direita, inferior, esquerda */
    }
   