/* CSS Geral da página */

* {
    font-family: "Arial Narrow", Arial, sans-serif;
}

body { 
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    background-attachment: fixed;
}

/* Inicio do cabeçalho */

.header {
    background-color: #111111;
    border-bottom: 2px solid #333333;
    height: 80px;
    width: 100%;
    z-index: 9999;
    position: fixed;
}

.cor_lol {
    color: white;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}

.container .logo {
    float: left; 
    color: black; 
}

.img_lol {
    background-repeat: no-repeat; 
    width: 3%;
    float: left;
    margin-left: 40px;
    margin-top: 25px;
    cursor: pointer;
}

.container nav {
    float: right; 
    color: black;
    margin-top: -56px;
}

.container a {
    text-decoration: none;
    margin-left: 100px;
}


.container li {
    color: white;
    display: inline-block;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-right: 10px;
    margin-top: -30px;
}

.caixa {
    border-right: 1px solid rgb(128, 128, 128);
    margin-left: 100px;
}

.linha {
    font-size: 15px;
    font-family: monospace;
}

.linha:hover {
    box-shadow: 
        0 13px 0px 16px #111111,
        0 16px 0px 15px #3cff00;
}

.button {
    padding: 10px 10px 10px 15px;
    background-color: #69ec12;
    border-radius: 2px;
	margin-left: 300px;
    text-transform: uppercase;
    display: inline-block;
    outline: 1px solid;
    outline-color: rgb(0, 128, 0);
    outline-offset: 5px;
    transition: all 600ms cubic-bezier(0.2, 0, 0, 0.8);
}
  
.button:hover {
    outline-color: #69ec12;
    outline-offset: 13px;
}

 /* INICÍO DO WALLPAPER*/ 

.wallpaper {    
    background-image: url("../VIDEO/video.lol.gif");
    background-repeat: no-repeat; 
    background-size: cover;
    height: 600px;
}

.centro { 
    height: 600px;
    backdrop-filter: blur(10px);
    background-color: rgb(13 13 13 / 1%);
}

.div_video {
    height: 515px;
    text-align: center;
}

.video {
    width: 1100px;
    padding-top: 150px;
}

/* FINAL DO WALLPAPER */

/* INICÍO DA CAIXA */
.corpo_geral {    
    background-image: url("../IMG/fundo-branco.jpg");
    background-repeat: no-repeat; 
    background-size: cover;
    height: 540px;
}

/* FINAL DA CAIXA */


/* INICIO PORTFOLIO */

.corpo_portfolio {
    width: 100%;
    height: 450px;
    position: relative;
    padding: 20% 0px 3% 0px;;
}

/* INICÍO DAS IMAGENS + PORFÓLIO ESPECIFÍCO */

.caixa_portfolio1  {
    font-size: 1.1vw;
    background-color: white;
    border: 2px solid rgb(205, 205, 205);
    text-align: center;
    width: 25%;
    height: 150px;
    position: absolute;
    float: left;
    left: 6%;
    justify-content: center;
    display: flex;
    align-items: center;
}

.imagem_portfolio1 {
    height: 100%;
    position: absolute;
    justify-content: center;
    display: flex;
    align-items: center;
}

.pinguim {
    width: 145px;
    position: relative;
    left: -10%;
}
/*-----------------------------------------------------*/

.caixa_portfolio2 {
    color: black;
    font-size: 1.1vw; 
    background-color: white;
    border: 2px solid rgb(205, 205, 205);
    text-align: center;
    width: 28%;
    height: 150px;
    position: absolute;
    float: right;
    right: 36%;
}

.imagem_portfolio2 {
    height: 100%;
    position: absolute;
    justify-content: center;
    display: flex;
    align-items: center;
}

.tahmkench {
    width: 145px;
    position: relative;
    left: -10%;
}

/*-------------------------------------------------*/

.caixa_portfolio3  {
    font-size: 1.1vw;
    background-color: white;
    border: 2px solid rgb(205, 205, 205);
    text-align: center;
    width: 28%;
    height: 150px;
    position: absolute;
    float: left;
    left: 68%;
}

.imagem_portfolio3{
    height: 100%;
    position: absolute;
    justify-content: center;
    display: flex;
    align-items: center;
}

.tft {
    width: 145px;
    position: relative;
    left: -10%;
}

/*--------------------------------------------------------*/

.titulo_cinza {
    color: rgb(188, 188, 188);
}