/* CSS GERAL DA PÁGINA */
body { 
    margin: 0;
    padding: 0;
    border: 0;
    height: 1500px;
}

/* INICÍO DO HEADER */

.header {
    height: 10%;
    width: 100%;
}

/* FINAL DO HEADER */

 /* INICÍO DO WALLPAPER*/ 

.wallpaper {    
    background-image: url("../VIDEO/video.lol.gif");
    background-repeat: no-repeat; 
    background-size: cover;
    height: 650px;
}

.centro { 
    height: 100%;
    backdrop-filter: blur(10px);
    background-color: rgb(13 13 13 / 1%);
}

.div_video {
    height: 515px;
    text-align: center;
}

.botao_video {
    z-index: 1;
    position: absolute;
    top: 95%;
    left: 42%;
    width: 200px;
    height: 65px;
    cursor: pointer;
    background: #0BC4E2;
    border: 1px solid rgb(205, 205, 205);
    outline: none;
    transition: 1s ease-in-out;
    letter-spacing: 0.15em;
}

svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #fff;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
}

.botao_video:hover {
    transition: 1s ease-in-out;
    background: #288bdd;
}

.botao_video:hover svg {
    stroke-dashoffset: -480;
}

.botao_video span {
    color: white;
    font-size: 18px;
    font-weight: 100;
}

.borda_video {
    width: 87%;
    height: 700px;
    position: absolute;
    border: 1px solid rgb(205, 205, 205);
    left: 4.5%;
    top: 21%;
    margin-left: 2%;
    margin-right: -6%;
}

.video {
    width: 1200px;
    padding-top: 150px;
}

/* FINAL DO WALLPAPER */

/* INICÍO DA CAIXA */
.corpo_geral {    
    background-image: url("../IMG/fundo-branco.jpg");
    background-repeat: no-repeat; 
    background-size: cover;
    height: 540px;
}

/* FINAL DA CAIXA */


/* INICIO PORTFOLIO */

.corpo_portfolio {
    width: 100%;
    height: 450px;
    position: relative;
    padding: 20% 0px 3% 0px;;
}

/* INICÍO DAS IMAGENS + PORFÓLIO ESPECIFÍCO */

.caixa_portfolio1  {
    font-size: 1.1vw;
    background-color: white;
    border: 2px solid rgb(205, 205, 205);
    text-align: center;
    width: 25%;
    height: 150px;
    position: absolute;
    float: left;
    left: 6%;
    justify-content: center;
    display: flex;
    align-items: center;
}

.imagem_portfolio1 {
    height: 100%;
    position: absolute;
    justify-content: center;
    display: flex;
    align-items: center;
}

.pinguim {
    width: 145px;
    position: relative;
    left: -11.8%;
}
/*-----------------------------------------------------*/

.caixa_portfolio2 {
    font-size: 1.1vw; 
    background-color: white;
    border: 2px solid rgb(205, 205, 205);
    text-align: center;
    width: 28%;
    height: 150px;
    position: absolute;
    float: right;
    right: 36%;
}

.imagem_portfolio2 {
    height: 100%;
    position: absolute;
    justify-content: center;
    display: flex;
    align-items: center;
}

.tahmkench {
    width: 145px;
    position: relative;
    left: -4.1%;
}

/*-------------------------------------------------*/

.caixa_portfolio3  {
    font-size: 1.1vw;
    background-color: white;
    border: 2px solid rgb(205, 205, 205);
    text-align: center;
    width: 28%;
    height: 150px;
    position: absolute;
    float: left;
    left: 68%;
}

.imagem_portfolio3{
    height: 100%;
    position: absolute;
    justify-content: center;
    display: flex;
    align-items: center;
}

.tft {
    width: 145px;
    position: relative;
    left: -4.8%;
}

/*--------------------------------------------------------*/

.titulo_cinza {
    color: rgb(188, 188, 188);
}